<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table border="1">
        <thead>
            <td>Username</td>
            <td>Date</td>
            <td>idk</td>
        </thead>

        {% for row in rows %}
        <tr>
            <td><a href="threads/{{row["threadId"]}}"</a>{{row["title"]}}</td>
            <td><a href="users/{{row["name"]}}">{{row["name"]}}</a></td>
            <td>{{row["date"]}}</td>
            <td>{{row["idk"]}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/">Home</a>
</body>
</html>